services:
  db:
    ports:
      - "5432:5432"
    volumes:
      - ./:/usr/src/app

  minio:
    ports:
      - "9000:9000"
      - "9010:9010"

  app:
    restart: "no"
    build:
      target: dev
    ports:
      - "5678:5678"
      - "8000:8000"
      - "8888:8888"
    volumes:
      - ./:/usr/src/app
      # Separate volumes for writable directories inside the container
      - /usr/src/app/assets
      - /usr/src/app/cache
      - /usr/src/app/jupyter
      - /usr/src/app/log
      - /usr/src/app/media
    environment:
      DJANGO_SETTINGS_MODULE: hea.settings.local
      LAUNCHER: ${LAUNCHER}  # e.g. "debugpy" or "ddtrace"
      # Disable frozen modules warning
      PYDEVD_DISABLE_FILE_VALIDATION: 1
      # Put .coverage in a writable directory
      COVERAGE_FILE: log/.coverage
    command:
      - --timeout=3600
      - --workers=12
      - --reload

  dagster_webserver:
    restart: no
    ports:
      - "3000:3000"
      - "5679:5678"
    volumes:
      - ./:/usr/src/app
      # Separate volumes for writable directories inside the container
      - /usr/src/app/assets
      - /usr/src/app/cache
      - /usr/src/app/jupyter
      - /usr/src/app/log
      - /usr/src/app/media
    environment:
      DJANGO_SETTINGS_MODULE: hea.settings.local
      LAUNCHER: ${LAUNCHER}  # e.g. "debugpy" or "ddtrace"
      # Disable frozen modules warning
      PYDEVD_DISABLE_FILE_VALIDATION: 1

  dagster_daemon:
    restart: no
    ports:
      - "5680:5678"
    volumes:
      - ./:/usr/src/app
      # Separate volumes for writable directories inside the container
      - /usr/src/app/assets
      - /usr/src/app/cache
      - /usr/src/app/jupyter
      - /usr/src/app/log
      - /usr/src/app/media
    environment:
      DJANGO_SETTINGS_MODULE: hea.settings.local
      LAUNCHER: ${LAUNCHER}  # e.g. "debugpy" or "ddtrace"
      # Disable frozen modules warning
      PYDEVD_DISABLE_FILE_VALIDATION: 1

