CLIENT=fnt
APP=hea
ENV=lcl
SECRET_KEY='viw11es#4b&0mmi380*9955oy2xx43'
POSTGRES_PASSWORD=gucci
DJANGO_SETTINGS_MODULE=${APP}.settings.local
DOMAIN=${APP}lcl.localdomain,${APP}lcl,localhost,127.0.0.1,host.docker.internal
PGHOST=localhost
PGPORT=5432
PGUSER=${CLIENT}${APP}${ENV}
PGPASSWORD=${POSTGRES_PASSWORD}
PGDATABASE=${PGUSER}
DATABASE_URL=postgis://${PGUSER}:${PGPASSWORD}@${PGHOST}:${PGPORT}/${PGDATABASE}
SUPPORT_EMAIL_ADDRESS=helpdesk@fews.net
PIP_INDEX_URL=https://pypi.python.org/simple/
DD_TRACE_ENABLED=False

# Google API related settings
# GOOGLE_APPLICATION_CREDENTIALS = '{
#  "type": "service_account",
#  "project_id": "project_xyz",
#  "private_key_id": "4ba92314a4ac9e6e126a0e4af33f12fd7e653b59",
#  "private_key": "-----BEGIN PRIVATE KEY-----\nMIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKY...==\n-----END PRIVATE KEY-----\n",
#  "client_email": "project_xyz-service-account@project_xyz.iam.gserviceaccount.com",
#  "client_id": "660831121376634992916",
#  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
#  "token_uri": "https://oauth2.googleapis.com/token",
#  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
#  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/project_xyz/x509/project_xyz-service-account%40project_xyz.iam.gserviceaccount.com"
# }'

KILUIGI_INTERMEDIATETARGET_BACKEND_CLASS=kiluigi.targets.ExpiringLocalTarget
KILUIGI_FINALTARGET_BACKEND_CLASS=kiluigi.targets.LocalTarget
KILUIGI_INTERMEDIATETARGET_ROOT_PATH=media/pipelines/intermediate_targets
KILUIGI_FINALTARGET_ROOT_PATH=media/pipelines/final_targets
KILUIGI_REPORTTARGET_BACKEND_CLASS=kiluigi.targets.LocalTarget
KILUIGI_REPORTTARGET_ROOT_PATH=media/pipelines/reports
