.control-panel-wrapper {
    grid-area: control-panel-wrapper;
}

.choropleth-map-wrapper {
    grid-area: choropleth-map-wrapper;
}

.scatter-map-row-wrapper {
    grid-area: scatter-map-row-wrapper;
}

.control-panel2-wrapper {
    grid-area: control-panel2-wrapper;
}

.main-wrapper {
    margin: 0px;
    padding: 0;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "control-panel-wrapper"
        "scatter-map-row-wrapper"
        "control-panel2-wrapper"
        "choropleth-map-wrapper"
    ;
}

.control-panel-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.crop-assessment-filter {
    width: 100%;
    padding-right: 5px;
}

.crop-assessment-filter-last {
    padding-right: 0px;
}

.filters-wrapper {
    display: flex;
}

.dash-graph {
    width: 100%;
}

.table-wrapper {
    display: flex;
    flex-direction: column;
}

.one-third-div {
    width: 32%;
    box-shadow: none;
    transition: box-shadow none;
    -webkit-transition: box-shadow none;
    -moz-transition: box-shadow none;
}

.carousel-indicators {
    display: none;
}

.scatter-map-row-wrapper {
    display: flex;
    justify-content: space-between;
}

.carousel-item {
    height: 600px;
}

.carousel-item img {
    max-height: 100%;
    max-width: 100% !important;
    width: auto !important;
    margin: auto;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: #D1D3D4;
}

.carousel-caption h3 {
    color: white;
    text-shadow: -1px 1px 1px #808080,
        1px 1px 1px #808080,
        1px -1px 0 #808080,
        -1px -1px 0 #808080;
}

/* Override Bootstrap styles */
h1 {
    margin: 20px 0 20px;
    font-size: 21px !important;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #212721;
}