h1 {
  font-size: 25px;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  transition-duration: 0.3s;
  margin-bottom: 10px;
  font-weight: bold;
  -moz-user-select: none;
  user-select: none;
}

form input[type=text],
form input[type=password],
form input[type=email] {
  width: 100%;
  padding: 5px 10px;
  border-radius: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  max-width: 300px;
  margin-bottom: 10px;
  line-height: 25px;
  font-size: 18px;
}

form.login input::placeholder {
  font-size: 0.8em;
}

form label[for=id_password],
form label[for=id_login],
form label[for=id_password1],
form label[for=id_password2],
form label[for=id_email],
form label[for=id_username],
form label[for=id_oldpassword],
form label[for=id_organization],
form label[for=id_purpose] {
  display: none;
}

form p {
  display: flex;
  flex-grow: 1;
  position: relative;
  margin-top: 15px;
}

a {
  text-decoration: underline;
}

.dropdown a {
  text-decoration: none;
}

.primaryAction,
.secondaryAction,
input[type=submit],
button[type=submit],
.socialaccount_provider {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 5px;
  border-radius: 0;
  font-size: 15px;
  font-family: "Open Sans", "Georgia", "Segoe UI", "Noto Sans";
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  border: 1px solid var(--secondary);
  background: var(--secondary)!important;
  color: var(--body-bg)!important;
  box-shadow: 0px 1.94636px 0px rgba(0, 0, 0, 0.016);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  display: inline-block;
}

.primaryAction:hover,
.secondaryAction:hover,
.socialaccount_provider:hover,
.primaryAction:active,
.secondaryAction:active,
.socialaccount_provider:active,
input[type=submit]:hover,
button[type=submit]:hover
 {
    background: var(--body-bg)!important;
    color: var(--secondary)!important;
    text-decoration: none;
    font-weight: normal;
}

.socialaccount_providers > li{
  list-style-type: none;
}

.tertiaryAction{
   font-size: 16px;
  font-family: "Open Sans", "Georgia", "Segoe UI", "Noto Sans";
}

.primaryAction:hover,
.secondaryAction:hover
{
  font-weight: normal;
}


.socialaccount_ballot {
  width: 100%;
}

form.login {
  margin-top: 30px;
  width: 300px;
}

#content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  line-height: 1.6em;
  text-align: left;
}

#content p {
  width: 100%;
}

#content em {
  font-style: italic;
}
