
h2 {
    color: rgb(12, 12, 12); 
}

table {
    width: 100%;
    border-collapse: collapse;
	text-align: left;
	border: 0.2px solid #ECF0F1; opacity: 0.5;
	font-size: 12px;

}

th {
    background-color: #F4F5F5; 
	border: 0.2px solid #ECF0F1 ; opacity: 0.5;
	text-align: left;
	vertical-align:  middle;
	font-size: 10px;
	font-weight: 400;
	line-height: 14.29px;
	color: #212721;
	border: 0.2px solid #ECF0F1; opacity: 0.5;
    vertical-align: middle;

}

td {
    border: 0.2px solid #ECF0F1 ; opacity: 0.5;
    padding: 5px; 
	text-align: left;
	color: #212721;
	vertical-align: middle;
	font-size: 10px;
	font-weight: 400;
	line-height: 17.15px;
	vertical-align: top;
	overflow: hidden;
	
}
td[data-column="Abbreviation"] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#logo {
width: 295.5px;
height: 38.45px; 
display: block; 
margin: 100px auto; 
padding-bottom: 16px;
}   
.divider {
	width: 100%; /* stretches the divider to full width */
    align-items: center; /* centers its contents vertically */
    justify-content: center; /* centers its contents horizontally */
    text-align: left; /* aligns the text to the left */
	vertical-align: middle; /* aligns the divider vertically relative to its parent */
    margin: 0.2px 0.2px; /* applies a small margin to the divider */
	padding-top: 12px; /* adds some space above the text */
	padding-bottom: 6px; /* adds some space below the text */
    border-top: 2px solid #dddfdf; /* adds a light gray line above the divider */
    border-bottom: 2px solid #dddfdf; /* adds a light gray line below the divider */
	font-family: 'Open Sans', sans-serif; /* sets the font family */
	font-weight: 700; /* sets the font weight to bold */
	font-size: 12px; /* sets the font size to 12px */
	margin-bottom: 20px; /* adds some space below the divider */
	border-top-width: 2px;
    border-bottom-width: 2px;

}
.divider h1 {
    display: inline-block;
    line-height: 3em; 
}

.icon-container {
display: inline-flex; 
align-items: center; 
font-size: 12px;
text-decoration: none;
justify-content: flex-end;
border-bottom-width: 2px;
padding-top: 20px;
}

.icon {
	margin-right: 30px; 
	width: 11.43px;
	height: 11.43px;
}
.extra{
	height: 2px !important;
 }
.description{
	height: 17.15px;
	font-size: 10px;
	font-weight: 400;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding-top:0.2;
 }

