/*! project specific CSS goes here. */
body {
    padding-top: 45px;
    line-height: 20px;
}

h2 {
    font-size: 20px;
    font-weight: 400;
    color: #555;
}

h3 {
    font-size: 16px;
    font-weight: normal;
}

h4 {
    font-size: 14px;
    font-weight: bold;
}

.navbar-brand {
    height: 41px;
    padding: 10px 20px 10px;
    font-size: 20px;
    font-weight: 200;
}

.navbar {
    max-height: 42px;
    min-height: 43px;
    margin-bottom: 0;
}

.navbar-inner {
    min-height: 40px;
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-fixed-top .navbar-collapse {
    padding-right: 50px;
}

.navbar-inverse .divider-vertical {
    border-right-color: #222;
    border-left-color: #111;
}

.navbar .divider-vertical {
    height: 40px;
    margin: 0 9px;
    border-right: 1px solid #111;
    border-left: 1px solid #222;
}

#content-navbar-collapse {
    padding-right: 0px;
}

#content-navbar-collapse .btn-primary {
    padding: 4px 12px;
    margin-top: 4px;
}

form#changelist-form>div.pull-left {
    clear: both;
}

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.form-horizontal .control-label {
    width: 160px;
    padding-top: 5px;
    padding-right: 0;
}

.alert {
    padding: 8px;
    margin-top: 20px;
}

/* Suppress the original version of inline forms */
td.original {
    display: none;
}
.inline-group .tabular tr.has_original td {
    padding-top: inherit;
}
.inline-group .tabular tr td {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

/* More appropriate heading size and spacing for inline forms */
.inline-group .tabular fieldset.module h2 {
    font-size: 16px;
    padding-left: 0.5em;
}

/* Smaller column widths for inline forms */
.inline-group .tabular input {
    width: auto;
}
.inline-group .tabular tr.form-row td p {
    font-size: 14px;
    padding-top: 5px;
}

/* Improved error formatting for inline forms */
.inline-group tr.alert-danger {
    background-color: #f9f9f9;
}
.inline-group ul.errorlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Remove bottom margin on unstyled lists, e.g. in alert divs */
ul.list-unstyled, ol.list-unstyled {
    margin-bottom: 0;
}

ul.breadcrumb {
    margin: 0 0 10px 0;
    padding: 0;
    list-style: none;
}

/* Center the footer within the container */
#footer p {
    text-align: center;
    font-size: smaller;
}

/* Larger text within grids */
.ui-jqgrid .ui-jqgrid-view{
    font-size: 14px;
}

/* Allow text wrapping in column headers */
th.ui-th-column div {
    white-space: normal !important;
    height: auto !important;
    padding: 2px;
}

#web_query_url {
    color: #08c;
}

/* Object actions on change list need more spacing */
ul.object-tools li {
    padding-right: 5px;
    padding-left: 5px;
}

/* Object actions on change forms need smaller margins */
form.object-tools {
    margin: 0;
}

/* Better formatting for the django-admin-tools app list */
.dashboard-module h2 {
    padding-bottom: 25px;
}
#dashboard .dashboard-module .dashboard-module h2 {
    padding-bottom: 25px;
    font-size: 16px;
}
.dashboard-module h3 {
    text-indent: 0;
    padding-top: 5px;
    padding-bottom: 0;
    padding-left: 8px;
    margin-bottom: 8px;
    background: none;
}
.dashboard-module h3 a {
    font-size: 16px;
    font-weight: normal;
    color: #005580;
}
.dashboard-module h3 a.btn {
    color: #333;
}

/* Better formatting for the django-admin-tools menu */
#header ul#navigation-menu {
    margin-bottom: 30px;
}
#header ul#navigation-menu li a {
    text-transform: capitalize;
    padding: 6px 25px 6px 15px;
}

#header ul#navigation-menu>li.menu-item>a {
    margin-top: 3px;
}

/* Hide honeypot field on Comment form */
#id_honeypot {
    display: none;
}

/* Make comments match form fields */
#comments {
    margin-left: 180px;
}

/* Field-specific overrides */
td.field-price,
td.field-previous_value,
td.field-percentage_change,
td.field-datapoint_count {
    text-align: right;
}
td.field-price input {
    text-align: right;
}
/* Make stacked boxes wider to fit MarketProduct */
.stacked,
.warehouse-dataset .stacked select,
.warehouse-dataset .stacked .selector-available,
.warehouse-dataset .stacked .selector-chosen,
.fields .stacked select,
.fields .stacked .selector-available,
.fields .stacked .selector-chosen
{
    width: 100%;
}
.stacked ul.selector-chooser {
    margin-left: 48%;
}

/* History Link should make additional room for object tools */
.historylink {
    margin-left: 10px;
    background-color: #363636;
    color: #fff !important;
}

a.historylink:hover {
    background-color: #222 !important;
    color: #fff !important;
}

/* Better alignment of <a> nodes in object tool bars that also contain buttons */
ul.object-tools a {
    vertical-align: middle;
}

/* Prevent Treebeard from breaking the Bootstrap navbar */
.navbar .collapse {
    width: auto;
    text-indent: 0px;
}

/* Allow for longer filenames */
input#id_import_file {
    width: 50em;
}

/* Necessary to properly display the collapse/expand image of treebeard */
a.collapse {
    height: 16px !important;
}

/* Corrects the alignment of tree beard nodes */
table#result_list th {
    text-align: left !important;
}

/* 500 error page */
h2#header-500 {
    color:#b94a48;
}

#body-500 .alert {
    font-size:16px;
    line-height:21px;
}

/* Submit row default buttons */

.submit-row input.default {
    text-transform: none;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

/* Make user dropdown menu in FDW not be overlapped. */

#header ul#navigation-menu {
    z-index: 999 !important;
}

#header-navbar-collapse > ul > li.dropdown.open > ul {
    z-index: 1000;
}

#action-toggle {
    display: inline-block;
}