{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static "admin/css/dashboard.css" %}">{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block nav-breadcrumbs %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content %}
<div id="content-main" class="container-lg outer-container">
    {% load i18n %}
    <p class="lead">
        {% blocktranslate %}
            A HEA baseline is a data collection conducted for a country during a specific reference year.
            A typical baseline includes data collected from representative average households,
            serving as a representation of a wealth group within a community in a given Livelihood zone.
    
            The primary components of common baseline data include wealth characteristics, asset profiles,
            household economy, and numerous other relevant metrics
        {% endblocktranslate %}
    
    </p>
    <div class="grid">
    <div class="card span-3 home_page_menu">
    <div class="grid">

        {% if 'baseline.view_sourceorganization' in perms or 'baseline.view_livelihoodzone' in perms or 'baseline.view_livelihoodzonebaseline' in perms or 'baseline.view_community' in perms %}
            <div class="container">
                <p class="home_page_header_text">{% translate 'BSS Setup' %}</p>
                {% if perms.baseline.view_sourceorganization %}
                    <div class="grid">
                    <!-- Card 1 -->
                        <div class="card">
                            <div class="card-body">
                                <a href="{% url 'admin:baseline_sourceorganization_changelist' %}"> {% translate 'Source Organizations' %} </a>
                        </div>
                    </div>
                {% endif %}
                {% if perms.baseline.view_livelihoodzone %}
                        <div class="card">
                            <div class="card-body">
                                <a href="{% url 'admin:baseline_livelihoodzone_changelist' %}"> {% translate 'Livelihood Zones' %}</a>
                            </div>
                    </div>
                {% endif %}
                {% if perms.baseline.view_livelihoodzonebaseline %}
                        <div class="card">
                            <div class="card-body">
                                <a href="{% url 'admin:baseline_livelihoodzonebaseline_changelist' %}"> {% translate 'Livelihood Zone Baselines' %}</a>
                            </div>
                    </div>
                {% endif %}
             {% if perms.baseline.view_livelihoodzonebaselinecorrection %}
                        <div class="card">
                            <div class="card-body">
                                <a href="{% url 'admin:baseline_livelihoodzonebaselinecorrection_changelist' %}"> {% translate 'Baseline Corrections' %}</a>
                            </div>
                    </div>
                {% endif %}
    
                {% if perms.baseline.view_community %}
                        <div class="card">
                            <div class="card-body">
                                <a href="{% url 'admin:baseline_community_changelist' %}">{% translate 'Communities' %}</a>
                            </div>
                    </div>
                {% endif %}
                </div>
            </div>
        {% endif %}
    
    
        {% if 'baseline.view_wealthgroup' in perms or 'baseline.view_livelihoodstrategy' in perms %}
            <div class="container">
                <p class="home_page_header_text"> {% translate 'BSS WB,Data,.. Sheets' %} </p>
                <div class="grid">
                    {% if perms.baseline.view_wealthgroup %}
                            <div class="card">
                                <div class="card-body">
                                    <a href="{% url 'admin:baseline_wealthgroup_changelist' %}">{% translate 'Wealth Group Data' %}</a>
                                </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    
          {% if 'baseline.view_livelihoodactivity' in perms or 'baseline.view_wealthgroupcharacteristicvalue' in perms or 'baseline.view_livelihoodstrategy' in perms %}
            <div class="container">
                <p class="home_page_header_text"> {% translate 'Wealth, Activity and Strategy Insights' %} </p>
                <div class="grid">
                {% if 'baseline.view_wealthgroupcharacteristicvalue' in perms %}
                            <div class="card">
                                <div class="card-body">
                                   <a href="{% url 'admin:baseline_wealthgroupcharacteristicvalue_changelist' %}">{% translate 'Wealth Group Characteristic Value' %}</a>
                                </div>
                    </div>
                {% endif %}
                {% if 'baseline.view_livelihoodstrategy' in perms %}
                            <div class="card">
                                <div class="card-body">
                                     <a href="{% url 'admin:baseline_livelihoodstrategy_changelist' %}">{% translate 'Livelihood Strategy' %}</a>
                                </div>
                            </div>
                {% endif %}
                {% if 'baseline.view_livelihoodactivity' in perms %}
                            <div class="card">
                                <div class="card-body">
                                    <a href="{% url 'admin:baseline_livelihoodactivity_changelist' %}">{% translate 'Livelihood Activity' %}</a>
                                </div>
                    </div>
                {% endif %}
                </div>
            </div>
        {% endif %}
        {% if 'metadata.view_wealthcharacteristiclabel' in perms or 'metadata.view_activitylabel' in perms %}
            <div class="container">
                <p class="home_page_header_text">{% translate 'Labels' %}</p>
                <div class="grid">
                    <!-- Card 1 -->
                    {% if perms.metadata.view_wealthcharacteristiclabel %}
                        <div class="card">
                            <div class="card-body">
                               <a href="{% url 'admin:metadata_wealthcharacteristiclabel_changelist' %}">{% translate 'Wealth Characteristic Label' %}</a>
                            </div>
                        </div>
                    {% endif %}
                    <!-- Card 2 -->
                    {% if 'metadata.view_activitylabel' in perms %}
                            <div class="card">
                                <div class="card-body">
                                    <a href="{% url 'admin:metadata_activitylabel_changelist' %}">{% translate 'Activity Label' %}</a>
                                </div>
                            </div>
                    {% endif %}
                </div>
            </div>
    
        {% endif %}
       <div class="container">
                <p class="home_page_header_text">{% translate 'Dashboards' %}</p>
                <div class="grid">
                    <!-- Card 1 -->
                    <div class="card">
                            <div class="card-body">
                                  <a href="{% url 'viz:inventory_dashboard' %}" rel="noreferrer"> {% trans "BSS Inventory Dashboard" %}</a>
                            </div>
                        </div>
                    <!-- Card 2 -->
                            <div class="card">
                                <div class="card-body">
                                      <a href="{% url 'viz:pipeline_status_dashboard' %}" rel="noreferrer"> {% trans "Pipeline Status Dashboard" %}</a>
                                </div>
                            </div>
                </div>
            </div>
        {% if 'baseline.view_communitycropproduction' in perms or  'baseline.view_communitylivestock'  in perms %}
            <div class="container">
                <p class="home_page_header_text">{% translate 'BSS Production Sheet' %}</p>
                <div class="grid">
                    {% if perms.baseline.view_communitycropproduction %}
                        <!-- Card 1 -->
                            <div class="card">
                                <div class="card-body">
                                    <a href="{% url 'admin:baseline_communitycropproduction_changelist' %}"> {% translate 'Crop Production' %}</a>
                                </div>
                            </div>
                    {% endif %}
                    {% if perms.baseline.view_communitylivestock %}
                        <!-- Card 2 -->
                        <div class="card">
                                <div class="card-body">
                                    <a href="{% url 'admin:baseline_communitylivestock_changelist' %}">{% translate 'Livestock Production' %}</a>
                                </div>
                        </div>
                    {% endif %}
                </div>
    
            </div>
        {% endif %}
        {% if 'metadata.view_market' in perms or 'baseline.view_marketprice' in perms %}
            <div class="container">
                <p class="home_page_header_text">{% translate 'Market Prices' %}</p>
                <div class="grid">
                    <!-- Card 1 -->
                    {% if 'metadata.view_market' in perms %}
                        <div class="card m-2">
                            <div class="card-body">
                                <a href="{% url 'admin:metadata_market_changelist' %}"> {% translate 'Market' %}</a>
                        </div>
                    {% endif %}
                    </div>
                    <!-- Card 2 -->
                    {% if 'baseline.view_marketprice' in perms %}
                            <div class="card">
                                <div class="card-body">
                                    <a href="{% url 'admin:baseline_marketprice_changelist' %}">{% translate 'Market Prices' %}</a>
                                </div>
                        </div>
                    {% endif %}
                </div>
            </div>
    
        {% endif %}
        {% if 'metadata.view_seasonalactivitytype' in perms or  'baseline.view_seasonalactivity'  in perms or  'baseline.view_seasonalactivityoccurrence'  in perms %}
            <div class="container">
                <p class="home_page_header_text">{% translate "Seasonal Calendars" %}</p>
                <div class="grid">
                    <!-- Card 1 -->
                    {% if 'metadata.view_seasonalactivitytype' in perms %}
                        <div class="card">
                            <div class="card-body">
                                <a href="{% url 'admin:metadata_seasonalactivitytype_changelist' %}"> {% translate 'Seasonal Activity Type' %}</a>
                            </div>
                    {% endif %}
                    </div>
                    <!-- Card 2 -->
                    {% if 'baseline.view_seasonalactivity' in perms %}
                            <div class="card">
                                <div class="card-body">
                                    <a href="{% url 'admin:baseline_seasonalactivity_changelist' %}">{% translate 'Seasonal Activities' %}</a>
                                </div>
                        </div>
                    {% endif %}
                    <!-- Card 3 -->
                    {% if 'baseline.view_seasonalactivityoccurrence' in perms %}
                            <div class="card">
                                <div class="card-body">
                                    <a href="{% url 'admin:baseline_seasonalactivityoccurrence_changelist' %}">{% translate 'Activity Occurrences' %} </a>
                                </div>
                            </div>
    
                    {% endif %}
                </div>
            </div>
        {% endif %}
        {% if 'baseline.view_seasonalproductionperformance' in perms or 'baseline.view_hazard' in perms or 'baseline.view_event' in perms %}
            <div class="container">
                <p class="home_page_header_text">{% translate 'Hazards and Events' %}</p>
                <div class="grid">
                    <!-- Card 1 -->
                    {% if 'baseline.view_seasonalproductionperformance' in perms %}
                        <div class="card">
                            <div class="card-body">
                                <a href="{% url 'admin:baseline_seasonalproductionperformance_changelist' %}"> {% translate 'Annual Production Performances' %}</a>
                            </div>
                    {% endif %}
                    </div>
                    <!-- Card 2 -->
                    {% if 'baseline.view_hazard' in perms %}
                            <div class="card">
                                <div class="card-body">
                                    <a href="{% url 'admin:baseline_hazard_changelist' %}">{% translate 'Hazards' %}</a>
                                </div>
                            </div>    
                    {% endif %}
                    <!-- Card 3 -->
                    {% if 'baseline.view_event' in perms %}
                            <div class="card">
                                <div class="card-body">
                                    <a href="{% url 'admin:baseline_event_changelist' %}">{% translate 'Events' %} </a>
                                </div>
                        </div>
    
                    {% endif %}
                </div>
            </div>
    
        {% endif %}
        {% if 'baseline.view_expandabilityfactor' in perms or 'baseline.view_copingstrategy' in perms %}
            <div class="container">
                <p class="home_page_header_text">{% translate 'Expandability and Coping' %}</p>
                <div class="grid">
                    <!-- Card 1 -->
                    {% if 'baseline.view_expandabilityfactor' in perms %}
                        <div class="card">
                            <div class="card-body">
                                <a href="{% url 'admin:baseline_expandabilityfactor_changelist' %}"> {% translate 'Expandability Factors' %}</a>
                            </div>
                    {% endif %}
                    </div>
                    <!-- Card 2 -->
                    {% if 'baseline.view_copingstrategy' in perms %}
                            <div class="card">
                                <div class="card-body">
                                    <a href="{% url 'admin:baseline_copingstrategy_changelist' %}">{% translate 'Coping Strategies' %}</a>
                                </div>
                        </div>
                    {% endif %}
    
                </div>
            </div>
    
        {% endif %}
        {% if perms.common %}
            <div class="container">
                <p class="home_page_header_text"> {% translate 'Common' %}</p>
                <div class="grid">
                        <div class="card">
                            <div class="card-body">
                                <a href="{% url 'admin:common_country_changelist' %}"> {% translate 'Countries' %}</a>
                            </div>
                    </div>
                        <div class="card">
                            <div class="card-body">
                                <a href="{% url 'admin:common_currency_changelist' %}"> {% translate 'Currencies' %}</a>
                            </div>
                    </div>
                        <div class="card">
                            <div class="card-body">
                                <a href="{% url 'admin:common_classifiedproduct_changelist' %}">{% translate 'Products' %}</a>
                            </div>
                    </div>
                        <div class="card">
                            <div class="card-body">
                                <a href="{% url 'admin:common_unitofmeasure_changelist' %}">{% translate 'Units of Measure' %}</a>
                            </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if perms.metadata %}
            <div class="container">
                <p class="home_page_header_text"> {% translate 'Metadata' %}</p>
                <div class="grid">
                        <div class="card">
                            <div class="card-body">
                                <a href="{% url 'admin:metadata_hazardcategory_changelist' %}"> {% translate 'Hazard Categories' %}</a>
                            </div>
                    </div>
                        <div class="card">
                            <div class="card-body">
                                <a href="{% url 'admin:metadata_livelihoodcategory_changelist' %}">{% translate 'Livelihood Categories' %}</a>
                            </div>
                    </div>
                        <div class="card">
                            <div class="card-body">
                                <a href="{% url 'admin:metadata_season_changelist' %}">{% translate 'Seasons' %}</a>
                            </div>
                    </div>
                        <div class="card">
                            <div class="card-body">
                                <a href="{% url 'admin:metadata_wealthgroupcategory_changelist' %}">{% translate 'Wealth Categories' %}</a>
                            </div>
                    </div>
                        <div class="card">
                            <div class="card-body">
                                <a href="{% url 'admin:metadata_wealthcharacteristic_changelist' %}">{% translate 'Wealth Group Characteristics' %}</a>
                            </div>
                    </div>
                </div>
            </div>
        {% endif %}
    
        {% if perms.auth %}
            <div class="container">
                <p class="home_page_header_text">{% translate 'User management' %}</p>
            <div class="grid">
                    <div class="card">
                        <div class="card-body">
                            <a href="{% url 'admin:auth_user_changelist' %}">{% translate 'Users' %}</a>
                        </div>
                </div>
                    <div class="card">
                        <div class="card-body">
                            <a href="{% url 'admin:auth_group_changelist' %}">{% translate 'Groups' %}</a>
                    </div>
                </div>
            </div>
        {% endif %}
    
        </div>
       
    
    
</div>
</div> <div class="grid2">
    <div class="card">
        <div class="card-body">
            <p class="home_page_header_text">Open <span class="glyphicon glyphicon-question-sign"></span></p>
            <div style="margin-right: 15px" >
                <ul class="app_index_ul">
                    <li style="list-style:none; margin-bottom: 20px; margin-top: 20px">
                        <a class="home_page_button"  href="{{ docsroot }}" target="_blank">{% trans 'Documentation' %}</a>
                    </li>
    
                    <li style="list-style: none;">
                        <a class="home_page_button" href="{{ site_url }}" target="_blank"
                           rel="noreferrer"> {% trans "Livelihood Explorer" %}</a>
                    </li>
                </ul>
            </div>
    </div>
</div>
            <div class="card span-3 recent_actions_container ">
                <div class="card-body" id="recent-actions-module">
                    <p class="home_page_header_text">My Recent Actions <span style="font-size: 17px; font-weight: lighter;" class="glyphicon glyphicon-time"></span></p>
                                    {% load log %}
                                    {% get_admin_log 10 as admin_log for_user user %}
                                    {% if not admin_log %}
                                        <p>{% translate 'None available' %}</p>
                                    {% else %}
                                        <ul class="actionlist">
                                            {% for entry in admin_log %}
                                                <li class="recent_history_li">
                                                <div class="row history_container {% if entry.is_addition %}history_add_container {% endif %}">
                                                    <div class="col-1 history_item_icon">
                                                        <span style="display: block; text-align: start;"
                                                        class="{% if entry.is_addition %}history_add{% endif %}{% if entry.is_change %}history_edit{% endif %}{% if entry.is_deletion %}history_remove{% endif %}"></span>
                                                    </div>
        
                                                    <div class="history_item col-11">
                                                        {% if entry.is_deletion or not entry.get_admin_url %}
                                                            {{ entry.object_repr }}
                                                        {% else %}
                                                            <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                                                        {% endif %}
                                                        <br>
                                                        {% if entry.content_type %}
                                                            <span class="mini quiet">{% filter capfirst %}
                                                                {{ entry.content_type.name }}{% endfilter %}</span> |
                                                            <span class="mini quiet">{% filter capfirst %}
                                                                {{ entry.action_time }}{% endfilter %}</span>
                                                        {% else %}
                                                            <span class="mini quiet">{% translate 'Unknown content' %}</span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                </div>
            </div>
           
{% endblock %}

{% block sidebar %}

{% endblock %}
