/* Inline admin's collapse class conflict with the navbar admin */
.module.collapse:not(.show) {
    display: block !important;
}

/* For the navbar menu list, remove bullet from the list */
ul > li {
    list-style: none !important;
}

/*Content is limited to 100% width, better render with larger width*/
.dashboard #content {
    width: 1300px;
}

#content-main {
    border: none;
    background: var(--primary-fg);
}

/*Navbar styles*/
.dropdown-toggle {
    outline: 0;
}

.nav-flush .nav-link {
    border-radius: 0;
}

.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border: 0;
}

.btn-toggle:hover,
.btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: #d2f4ea;
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
}

.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: #d2f4ea;
}

.scrollarea {
    overflow-y: auto;
}

.fw-semibold {
    font-weight: 600;
}

.lh-tight {
    line-height: 1.25;
}

/* Highlight selected menu item */
.btn-toggle-nav a.selected {
    background-color: #d2f4ea;
    font-weight: bold;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    #custom_menu {
        width: 100%;
    }

    .btn-toggle {
        width: 100%;
        text-align: left;
    }
}

/* Adjust the toggle-nav-sidebar button */
#toggle-nav-sidebar {
    display: flex;
    align-items: left;
    justify-content: left;
    background-color: #E4F1EF;
    border: none;
    color: #096640;
    padding: 5px 10px;
    border-radius: 0px;
    cursor: pointer;
    width: 100%;
    position: relative;
    font-size: 24px;
    line-height: 1;
    height: 50px; 
}

#toggle-nav-sidebar:hover,
#toggle-nav-sidebar:focus {
    background-color: #E4F1EF;
}


/*For admin menu*/


/* Style for the outer container */
.outer-container {
    position: relative;
    padding: 20px;
}

.container {
    padding: 16px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    align-items: start;
  }
  
  .card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: none;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .card-body {
    text-align: center;
  }
  
  .card-body a {
    text-decoration: none;
    color: #000;
  }
  
  .card-body a:hover {
    text-decoration: underline;
  }
  .card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card.span-2 {
    grid-column: span 2;
}

.card.span-3 {
    grid-column: span 3;
}
.grid2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns by default */
    gap: 16px;
    align-items: start;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 1200px) {
    .grid2 {
        grid-template-columns: repeat(4, 1fr); /* 4 columns for medium screens */
    }
}

@media (max-width: 900px) {
    .grid2 {
        grid-template-columns: repeat(3, 1fr); /* 3 columns for smaller screens */
    }
}

@media (max-width: 600px) {
    .grid2 {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for extra small screens */
    }
}

@media (max-width: 400px) {
    .grid2{
        grid-template-columns: 1fr; /* 1 column for very small screens */
    }
}
/* Style for the recent actions div */
.recent-actions {
    position: absolute !important;
    top: 0px; 
    right: 10px; 
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 10px;
    width: 200px; 
}


.form-row {
  overflow: hidden;
  padding: 10px;
  font-size: 0.8125rem;
  border-bottom: 0px!important;
}


textarea{
    height: 60px;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="number"], input[type="tel"], textarea, select, .vTextField {
  border: 1px solid var(--border-color);
  border-radius: 0px;
  padding: 5px 6px;
  margin-top: 0;
  color: var(--body-fg);
  background-color: var(--body-bg);
}


